body {
	font-family: "Neutraface";
	padding-bottom: 40px;
}

@font-face {
	font-family: "Neutraface";
	src: url("NeutraText-Book.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.2;
	color: inherit;
}

.bigger-text {
	font-size: 12pt;
}

.breadcrumb {
	padding: 12px 0px;
}

.container-page {
	margin-top: -16px;
	padding: 30px 15px;
	background: #ffffff;
}

.text-footer {
	margin-bottom: 0px;
}

table {
    width: 100%;
    white-space: nowrap;
}

.table-stickyrow th {
    background-color: white;
    background-clip: padding-box;
	position: sticky;
    top: 0;
    z-index: 2;
}

.table-stickyrow th[scope=row] {
  position: sticky;
  left: 0;
  z-index: 1;
}

.table-95 {
  height: 95vh;  
  overflow: scroll;
}

.table-sm td, .table-sm th {
    padding: .3rem .75rem;
}

.clickable-row {
	cursor: pointer;
}

.btn-options {
	white-space: normal;
	margin-bottom: 15px;
}

.table-flush th, .table-flush td {
	padding: .75rem 1.25rem;
}

table a:hover {
	text-decoration: none;
}

.btn-header {
	margin: -3px 0px !important;
}

.table-flush-sm th, .table-flush-sm td {
	padding: .3rem 1.25rem;
}

/* Remove spinners from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}