[submodule "contrib/php-graphql-client"]
	path = contrib/php-graphql-client
	url = https://github.com/mghoneimy/php-graphql-client
[submodule "contrib/annotorius"]
	path = contrib/annotorius
	url = https://github.com/recogito/annotorious.git
