[submodule "contrib/php-graphql-client"]
	path = contrib/php-graphql-client
	url = https://github.com/mghoneimy/php-graphql-client
[submodule "contrib/djaodjin-annotate"]
	path = contrib/djaodjin-annotate
	url = https://github.com/crees/djaodjin-annotate
[submodule "contrib/docxmerge"]
	path = contrib/docxmerge
	url = https://github.com/crees/DocxMerge
